
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Super Metroid Item Randomizer</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/navbar-static-top.css" rel="stylesheet">
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Super Metroid Item Randomizer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/randomize">Randomize!</a></li>
            <li><a href="/information">Information</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">

<h2>Super Metroid Item Randomizer Development</h2>
    <p>
        This is a beta version used for testing new patches and item logic. 
        Have fun, but expect that things can be broken at times.
    </p>
    <p>
        Go to the Randomize! page to get started.
    </p>

    <br />
    <h3>Change Log:</h3>
    <h4>v2.2 - 2017-05-15</h4>
    <ul>
        <li>Initial support for Casual difficulty, this is still under heavy development and may contain broken logic and patches.</li>
        <li>A lot of behind the scenes work on the patching system to support different patch methods, difficulty-specific patches, and optional patches.</li>
    </ul>
    <h4>v2.1 - 2017-04-21</h4>
    <ul>
        <li>Fixed item visibility issue for Crateria and Pink brinstar Power Bombs. They are no longer in Chozo Balls</li>
    </ul>
    <h4>v2 - 2017-04-20</h4>
    <ul>
        <li>First version uploaded - contains initial changes listed above</li>
    </ul>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>