
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Super Metroid Item Randomizer</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/navbar-static-top.css" rel="stylesheet">
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Super Metroid Item Randomizer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/randomize">Randomize!</a></li>
            <li><a href="/information">Information</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">

<h2>Super Metroid Item Randomizer</h2>
    <p>
        Go to the Randomize! page to get started.
    </p>

    <br />
    <h3>Change Log:</h3>
    <h4>v2.10 - 2019-01-16</h4>
    <ul>
        <li>Tournament difficulty has been updated with the following changes:</li>
        <ul>
            <li>Gauntlet no longer logically requires HiJump, Speed, IBJ or SpaceJump to enter.</li>
            <li>Pink brinstar Wave Gate no longer requires Hi-Jump</li>
            <li>Grapple now only requires access to Crocomire.</li>
            <li>Norfair Reserve area access now includes Ice Beam or Spring Ball in addition to previous requirements.</li>
            <li>WRITG logic now includes Spring ball, and has a fix to require Charge along with Ice Beam if required.</li>
            <li>Screw Attack location fixed to include a way to get back out. (HJ/Speed/SJ/IBJ/SpringBall)</li>
            <li>Suitless Maridia now includes Spring Ball as a substitute for Ice Beam.</li>
            <li>Some minor bug fixes to energy requirements for some locations.</li>
            <li>The randomizer filling algorithm has been slightly adjusted to give a slightly better minor item spread.</li>
        </ul>
        <li>The statistics for Power Bombs and SBA:s have been fixed to show properly.</li>
    </ul>
    <h4>v2.9 - 2017-11-16</h4>
    <ul>
        <li>Casual difficulty has been updated and should now be somewhat easier.</li>
        <li>A few logic fixes for open mode has been done.</li>
        <li>Screw attack can now always be selected in the item menu.</li>
        <li>The animal surprises got a few bug fixes as well.</li>
        <li>There's now a new experimental "Full" mode where all items are fully randomized. This mode uses the Tournament logic.</li>
        <li>Note that the Full mode is somewhat of a beta and might have issues where seeds can't be completed, please report these if possible.</li>
    </ul>
    <h4>v2.8 - 2017-08-23</h4>
    <ul>
        <li>A new item placement algorithm has been implemented that creates a more uniform item distribution.</li>
        <li>This change will for example make certain late game locations more valuable instead of previously over-valued early game locations.</li>
        <li>The new algorithm is only in place for Tournament difficulty right now, but will be integrated into Normal and Casual later.</li>
        <li>Some minor logic bugs have been fixed - thanks to Dessyreqt for pointing many of these out.</li>
    </ul>
    <h4>v2.7 - 2017-08-09</h4>
    <ul>
        <li>A new section has been added to the ending credits containing item randomizer staff credits and new cool gameplay statistics including a spoiler of the major item locations.</li>
        <li>Skipping the item at morph ball and going right will no longer awake zebes and make that item unobtainable.</li>
        <li>Some of the room changes have been redone to be less intrusive.</li>
        <li>The top part of the ammo icons will now show your maximum ammo of that type.</li>
        <li>Something strange is happening in the Bomb Torizo room when Zebes is exploding, go find out what at your own peril. (Results may vary)</li>
        <li>Open Mode has been added, this is a new mode where the following changes has been made to open up gameplay for a new experience.
            <ul>
                <li>The game starts with Zebes Awake and the Maridia Tube broken.</li>
                <li>All doorshells that doesn't lead directly to an item has been changed to blue.</li>
                <li>The bomb blocks in parlor and on the way to pink brinstar has been removed.</li>
                <li>The yellow door shell to pink brinstar gate-room e-tank has been changed to blue.</li>
                <li>You can now access all of the "inner" Wrecked Ship without Morph Ball.</li>
                <li>You can also access Charge Beam and Red Tower without Morph Ball.</li>
                <li>You can also access Kraid's Lair without Morph Ball.</li>
                <li>You can also access Botwoon e-tank and Mama Turtle e-tank without Morph Ball.</li>
                <li>You can also access Screw Attack and Firefly e-tank without Morph Ball.</li>
                <li>Bomb or Power Bomb blocks in place for the above cases have either been removed or changed into shot blocks.</li>
                <li>Any morph ball tunnels in place for the above cases have also been expanded in height.</li>
                <li>The spikes on the left side of Lava Dive have been removed to enable easier Hi-jumpless lava dive.</li>
                <li>Gravity suit can now spawn in any location (including late Maridia).</li>
                <li>Varia suit can now spawn anywhere but Lower Norfair.</li>
                <li>Morph Ball can no longer spawn in Crateria or certain Brinstar locations.</li>
            </ul>
        </li>
    </ul>    
    <h4>v2.6 - 2017-07-17</h4>
    <ul>
        <li>A seed identifier will now be shown when a file has been selected in the top consisting of 4 random enemy names.</li>
        <li>The red tower patch has been updated to correct some graphical issues.</li>
    </ul>
    <h4>v2.5 - 2017-07-10</h4>
    <ul>
        <li>Screw attack and Speed Booster will no longer be available as start items, this was done to promote more early game item diversity.</li>
        <li>The following changes have been done to tournament mode:</li>
        <ul><li>Reverted the blue brinstar e-tank room change, the major item is now back in the ceiling and the room is back to normal.</li>
            <li>Wall jumping up to early gauntlet without hi-jump will no longer be enforced for completion. (Note that going there early if you can is still going to be a good choice most of the time)</li>
            <li>Green gate glitching the blue wave-beam gate before the e-tank location in pink brinstar will now only be enforced if you have hi-jump.</li>
            <li>The bottom of red tower have been modified again to restore the right side to normal, but instead open up a path on the left side.</li>
        </ul>
    </ul>
    <h4>v2.4 - 2017-06-14</h4>
    <ul>
        <li>Varia suit can no longer spawn in blue brinstar.</li>
        <li>Tournament difficulty added. This is the difficulty settings that will be used in the item randomizer tournament (<a href="http://supermetroid.challonge.com/itemrando">http://supermetroid.challonge.com/itemrando</a>).
        <li>Please give feedback on possible changes and report any bugs you find in the Tournament difficulty as soon as possible!</li>
        <li>Some major noteworthy changes in the Tournament difficulty compared to Normal difficulty right now are these:</li>
        <ul><li>Blue brinstar e-tank room major item is accessible without the ceiling damage boost.</li>
            <li>The first crumble block in early super mockball bridge is now a shot block to prevent softlocking without bombs.</li>
            <li>The speed blocks on top of dachora pit will no longer respawn to enable walljumping out</li>
            <li>The bottom of red tower is modified so that you can walljump back up without hi-jump</li>
            <li>Both blocks in the tunnel to spazer are now shot blocks to enable access to Spazer without bombs and prevent softlocking.</li>
            <li>The bomb blocks in the room before Hi-Jump are now shot blocks to enable access to Hi-Jump without bombs and prevent softlocking.</li>
            <li>The first heated norfair room has had the final platform raised to enable traversal without hi-jump or bombs.</li>
            <li>The bomb block in the bottom of the pillar in the moat room is now a shot block to prevent softlocking.</li>
            <li>The energy tank requirement for hell runs have been raised from 3 to 4.</li>
            <li>Gravity suit is now prevented from spawning at Space Jump, Plasma and Spring Ball locations.</li>
        </ul>
    </ul>
    <h4>v2.3 - 2017-05-27</h4>
    <ul>
        <li>Fixed the ASM patch to not create a savefile from the gameplay demos, this fixes bugs #1 and #2. (Thanks InsaneFirebat for figuring out exactly what caused this)      
        <li>Initial support for Hard difficulty. Expect this to change from what it is currently.</li>
        <li>Some more behind the scenes work on patching and support for different methods of randomization per difficulty.</li>
    </ul>
    <h4>v2.2 - 2017-05-15</h4>
    <ul>
        <li>Initial support for Casual difficulty, this is still under heavy development and may contain broken logic and patches.</li>
        <li>A lot of behind the scenes work on the patching system to support different patch methods, difficulty-specific patches, and optional patches.</li>
    </ul>
    <h4>v2.1 - 2017-04-21</h4>
    <ul>
        <li>Fixed item visibility issue for Crateria and Pink brinstar Power Bombs. They are no longer in Chozo Balls</li>
    </ul>
    <h4>v2 - 2017-04-20</h4>
    <ul>
        <li>First version uploaded - contains initial changes listed on the Information page</li>
    </ul>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>