
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Super Metroid Item Randomizer</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/navbar-static-top.css" rel="stylesheet">
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Super Metroid Item Randomizer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/randomize">Randomize!</a></li>
            <li><a href="/information">Information</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">
    

    <div class="row">
    <div class="col-md-6">

    {% if model.Error == true %}
    <p class="bg-danger">
        {{ model.Info }}
    </p>
    {% endif %}

    <form method="post" action="/randomize" enctype="multipart/form-data">        
    <div class="form-group">
        <label for="filename">Pick a vanilla (unheadered) SM ROM to upload and patch</label>
        <input type="file" id="filename" name="filename"/>
    </div>
    <div class="form-group">
        <label for="seed">Enter a seed here or leave it at 0 to create a new random seed:</label>
        <input type="text" id="seed" name="seed" value="0" class="form-control" />
    </div>
    <div class="form-group">
        <label for="difficulty">Difficulty:</label>
        <select name="difficulty" id="difficulty" class="form-control">
          <option value="0">Casual (Under heavy development, may contain unstable patches)</option>
          <option value="1" selected>Normal</option>
          <option value="2">Hard (possibly broken, try at own risk)</option>
          <option value="3">Tournament (This is the setting that will be used for the tournament)</option>
        </select>
    </div>
    <input type="submit" value="Randomize!" class="btn btn-primary"/>
    </form>
    </div>
    </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>