
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Super Metroid Item Randomizer</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/navbar-static-top.css" rel="stylesheet">
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Super Metroid Item Randomizer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/randomize">Randomize!</a></li>
            <li><a href="/information">Information</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">
    

    <div class="row">
    <div class="col-md-6">


    <form method="post" action="/test">
    <input type="submit" value="Test!" class="btn btn-primary"/>
    </form>
    </div>
    </div>
    </div> <!-- /container -->

    {% if model.TestItems %}
        <table>
            <tr>
                <th>Item</th>
                <th>Location</th>
                <th>Count</th>
            </tr>
        {% for testItem in model.TestItems %}
            <tr>
                <td>{{ testItem.Item }}</td>
                <td></td>
                <td></td>
            </tr>
                {% for testLocation in testItem.Locations %}
                <tr>
                    <td></td>
                    <td>{{ testLocation.Location }}</td>
                    <td>{{ testLocation.Count }}</td>
                </tr>
                {% endfor %}
        {% endfor %}
        </table>
    {% endif %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>